@import '../../../../styles/variables';

.why-us__item {
  background-color: $clr-cyan;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3.5rem;
  padding: 4.5rem 0.75rem 3rem 0.75rem;
  border-radius: 8px;
  color: $clr-cream;

  @media (min-width: $tablet) {
    flex-direction: row;
    padding: 2.5rem 3rem 2.5rem 4.5rem;
    text-align: left;
  }

  @media (min-width: $desktop) {
    flex-direction: column;
    padding: 4.5rem 1.5rem 3rem 1.5rem;
    text-align: center;
  }

  @media (min-width: $desktop-l) {
    padding: 4.5rem 3rem 3rem 3rem;
  }


  &-icon {
    width: 72px;

    @media (min-width: $tablet) {
      width: 56px;
    }

    @media (min-width: $desktop) {
      width: 72px;
      height: 72px;
      display: flex;
      align-items: center;
    }
  }

  &-text {
    margin-top: 1.5rem;
    padding: 0 1.25rem;

    @media (min-width: $tablet) {
      margin-top: 1rem;
      padding: 0;
    }

    @media (min-width: $desktop) {
      margin-top: 1.5rem;
    }
  }
}
