@import '../../../../styles/variables';

.headquarters__item {
  display: flex;
  flex-direction: column;
  align-items: center;

  &-title {
    margin-top: 3rem;
    margin-bottom: 1.375rem;
  }

  &-text {
    font-size: $fs-body-l;
  }
}
